In [1]:
install.packages("mvnormtest")
install.packages("car")
install.packages("plyr")
install.packages("ggplot2")

Installing package into 'C:/Users/user/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'mvnormtest' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\user\AppData\Local\Temp\RtmpW8jZso\downloaded_packages

Installing package into 'C:/Users/user/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'car' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\user\AppData\Local\Temp\RtmpW8jZso\downloaded_packages

Installing package into 'C:/Users/user/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'plyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\user\AppData\Local\Temp\RtmpW8jZso\downloaded_packages

Installing package into 'C:/Users/user/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\user\AppData\Local\Temp\RtmpW8jZso\downloaded_packages

In [35]:
library("mvnormtest")
library("car")
library("plyr")
library("ggplot2")

In [14]:
heartAttacks <- read.csv("C:/Users/user/Downloads/heartAttacks.csv")

In [16]:
head(heartAttacks)

  ï..age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63     1   3  145      233  1   0       150     0     2.3     0     0  1
2 37     1   2  130      250  0   1       187     0     3.5     0     0  2
3 41     0   1  130      204  0   0       172     0     1.4     2     0  2
4 56     1   1  120      236  0   1       178     0     0.8     2     0  2
5 57     0   0  120      354  0   1       163     1     0.6     2     0  2
6 57     1   0  140      192  0   1       148     0     0.4     1     0  1
  target
1 1
2 1
3 1
4 1
5 1
6 1

#### Independent variable: sex | Dependent variables: trestbps & chol

In [17]:
heartAttacks$trestbps <- as.numeric(heartAttacks$trestbps)
heartAttacks$chol <- as.numeric(heartAttacks$chol)

In [39]:
heartAttacks$sexFactor <- as.factor(heartAttacks$sex)

In [40]:
keeps <- c("sexFactor", "trestbps", "chol")

In [41]:
heartAttacks1 <- heartAttacks[keeps]

In [43]:
count(heartAttacks1, "sexFactor")

  sexFactor freq
1 0          96
2 1         207

#### Sample size assumption met

In [44]:
## Shapiro test set up
keeps1 <- c("trestbps", "chol")
heartAttacks2 <- data[keeps1]

In [46]:
mshapiro.test(t(heartAttacks2[1:500,]))

ERROR: Error in heartAttacks2[1:500, ]: incorrect number of dimensions

In [47]:
## Homogeneity of Variance
leveneTest(trestbps ~ sexFactor, data=heartAttacks) ## Passes, p-value is > .05

      Df  F value  Pr(>F)
group   1 1.359311 0.24458
      301       NA      NA

In [48]:
leveneTest(chol ~ sexFactor, data=heartAttacks) ## Fails the assumption, p-value is < .05

      Df  F value  Pr(>F)
group   1 11.37598 0.0008413142
      301       NA           NA

In [49]:
## Absence of Multicollinearity
cor.test(heartAttacks$trestbps, heartAttacks$chol, method="pearson", use="complete.obs") # Meets the assumption

	Pearson's product-moment correlation

data:  heartAttacks$trestbps and heartAttacks$chol
t = 2.1534, df = 301, p-value = 0.03208
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.01064389 0.23262366
sample estimates:
      cor
0.1231742

In [50]:
## MANOVA
MANOVA <- manova(cbind(trestbps, chol) ~ sex, data = heartAttacks)
summary(MANOVA)

           Df   Pillai approx F num Df den Df   Pr(>F)
sex         1 0.040235   6.2882      2    300 0.002112 **
Residuals 301
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [51]:
summary.aov(MANOVA, test = "wilks")

 Response trestbps :
             Df Sum Sq Mean Sq F value Pr(>F)
sex           1    299  299.36  0.9732 0.3247
Residuals   301  92592  307.61

 Response chol :
             Df Sum Sq Mean Sq F value  Pr(>F)
sex           1  31778   31778  12.271 0.00053 ***
Residuals   301 779523    2590
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

### Gender can provide some insight when looking at cholesterol as a heart attack predictor, but it doesn't do as well when considering resting blood pressure.